@model proyectoFinal1.Models.bodega

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea Eliminar lo siguiente ?</h3>
<div>
    <h4>Bodega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-warning" />
        <p>
            <br />
            <a class="btn btn-danger" href="http://localhost:49909/bodegas"><<</a>
        </p>
    </div>
    }
</div>
