@model IEnumerable<proyectoFinal1.Models.bodega>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Bodegas</h2>
</center>


<p>
    <a class="btn btn-primary" href="http://localhost:49909/bodegas/Create">Crear Nuevo</a>
</p>
<table class="table">
    <tr class="titulos">
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td class="titulo2">
            @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
