@model IEnumerable<proyectoFinal1.Models.factura>

@{
    ViewBag.Title = "Index";
}

<h2>Reporte de Ventas</h2>

<table class="table">
    <tr class="titulos">
        <th>
            @Html.DisplayNameFor(model => model.cliente)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.producto1.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto1.precio)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.producto1.nombre)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto1.precio)
        </td>
        <td>


            @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-success" })


        </td>
    </tr>
}

</table>
